<h2><%=user.name%>'s profile</h2>
<ul>
  <li><%=link_to 'Edit', routes.edit_user_path(user.id) %></li>
  <li><%=link_to 'Email edit', routes.email_edit_user_path(user.id) %></li>
  <li><%=link_to 'Password edit', routes.password_edit_user_path(user.id) %></li>
</ul>
<dl>
  <dt>email</dt>
  <dd><%=user.email%></dd>
  <dt>created</dt>
  <dd><%=user.created_at%></dd>
</dl>